

.counter-bg-image {
    -fx-opacity: 1.0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0, 1, 1);
    -fx-image: url("../images/nums_background.png");
}


.digits-container {
    -fx-spacing: 2;
    -fx-padding: 0 0 0 0px;
    -fx-translate-x: 0px;
    -fx-translate-y: 0px;
}


.digit-image {
    -fx-alignment: center;
    -fx-opacity: 1.0;
    -fx-image: url("../images/d0.png");
}

